@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:'DM_Sans';
  src: local("DMSans-Medium"), url("C:\Users\abena\OneDrive\Desktop\frontend\home_rentals\src\fonts\DM_Sans\DMSans-Medium.ttf") format('truetype');
  font-weight:600;
}

@font-face {
  font-family:'DM_Sans';
  src: local("DMSans-Bold"), url("C:\Users\abena\OneDrive\Desktop\frontend\home_rentals\src\fonts\DM_Sans\DMSans-Bold.ttf") format('truetype');
  font-weight:600;
}

@font-face {
  font-family:'DM_Sans';
  src: local("DMSans-Regular"), url("C:\Users\abena\OneDrive\Desktop\frontend\home_rentals\src\fonts\DM_Sans\DMSans-Regular.ttf") format('truetype');
  font-weight:600;
}

@font-face {
  font-family:'Inter';
  src: local("Inter-Bold"), url("C:\Users\abena\OneDrive\Desktop\frontend\home_rentals\src\fonts\Inter\static\Inter-Bold.ttf") format('truetype');
  font-weight:600;
}
@font-face {
  font-family:'Inter';
  src: local("Inter-ExtraBold"), url("C:\Users\abena\OneDrive\Desktop\frontend\home_rentals\src\fonts\Inter\static\Inter-ExtraBold.ttf") format('truetype');
  font-weight:bold;
}
@font-face {
  font-family:'Inter';
  src: local("Inter-SemiBold"), url("C:\Users\abena\OneDrive\Desktop\frontend\home_rentals\src\fonts\Inter\static\Inter-SemiBold.ttf") format('truetype');
  font-weight:bold;
}
@font-face {
  font-family:'Inter';
  src: local("Inter-Regular"), url("C:\Users\abena\OneDrive\Desktop\frontend\home_rentals\src\fonts\Inter\static\Inter-Regular.ttf") format('truetype');
  font-weight:bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  @apply rounded py-2 px-2 text-sm cursor-pointer tracking-wider bg-orange-600 text-white
}



.form-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.form-label {
  grid-row: 1/3; /* Label goes in first two rows */
}

.form-input {
  grid-row: 2/4; /* Input goes in last two rows */
}


/* Repeat the grid-row pattern for the remaining labels and form fields */
